//a {text-decoration:none}
body{
font-family: Verdana, Arial, Helvetica, sans-serif;
color: white;
background: url('../images/touchdown.png');
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;　
}
a {
	color:00b2ee;
}
a:link, a:active, a:visited(
	color: #6A6A6A;
)
img {border: 0}

.normaltable,#table {
border-spacing: 1;
background: rgba(5%,5%,5%,0.8);
}

.normaltable a{
	color: #6A6A6A;
}

.normaltable tr,#table tr{
border-bottom: solid 1px #e5e5e5;
}

.normaltable th,#table th{
    background: url('../images/maintitle.png') repeat-x 0 0;
text-transform: uppercase;
font-size: 11px;
color: #fff;
font-weight: bold;
padding: 11px 5px;
text-align: center;
}

.normaltable td,#table td{
padding: 6px 8px;
color: #FFFFFF;
vertical-align: middle;
border-bottom:1px black solid;
text-align: center;
}

#modal{
	height: 100%;
	padding-right:10px;
	overflow-y: scroll;
	overflow-x: auto;
	display:none;
}
#logo {
position: relative;
margin-top: 20px;
margin: 0 auto;
}

#menu{
margin-bottom: 10px;
}

#search{
margin-top: 15px;
margin-bottom: 15px;
}

ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	text-align: center;
	padding-bottom: 5px;
}

ul li {
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
}

ul a:link, ul a:visited {
	text-decoration: none;
	background: #1F1F1F url('../images/highlight_faint.png') repeat-x 0 1px;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	padding: 6px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

ul a:link:hover, ul a:visited:hover {
	background: #4E768A;
}

ul a:hover {
	border-bottom-color: #4E768A;
	border-bottom-width: 4px;
}
